@use "./../../../assets/styles/variables.scss";

header {
  display: flex;
  justify-content: space-between;
  background-color: variables.$main-color-200;
  vertical-align: middle;
  height: variables.$header-height;
  padding: 10px;
}

img {
  padding: 0px;
  aspect-ratio: 1;
  padding: 1vh;
  object-fit: cover;
  height: 50px;
  border-radius: 50%;
}

span {
  padding: 20px;
  margin: auto;
  align-self: auto;
  vertical-align: middle;
}