<header>
  <img id="logo" src="./assets/images/logo.png" alt="Logo">
  <span id="logo-title"><a [routerLink]="['/']">Agendas SRL</a></span>
  <span *ngIf="authService.isLoggedIn()"><a [routerLink]="['/contacts']">Contacts</a></span>
  <span *ngIf="!authService.isLoggedIn()"><a [routerLink]="['/login']">Login</a></span>
  <span *ngIf="!authService.isLoggedIn()"><a [routerLink]="['/register']">Register</a></span>
  <span *ngIf="authService.isLoggedIn()"><a (click)="authService.logOut()">Logout</a></span>
</header>