<header>
  <img src="./assets/images/logo.png" alt="Logo">
  <span><a [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a></span>
  <span><a [routerLink]="['/contacts']" routerLinkActive="router-link-active">Contacts</a></span>
  <span><a [routerLink]="['/']" routerLinkActive="router-link-active">Agendas SRL</a></span>
  <span><a [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></span>
  <span><a [routerLink]="['/register']" routerLinkActive="router-link-active">Register</a></span>
</header>