@use './../../../assets/styles/variables.scss';

.banner-container {
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
}

#info {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;

  width: 100%;
  background-color: variables.$accents-color;
  padding: 2px 0px;

  border-bottom: 1px solid black;

  p {
    font-size: 1.1em;
    margin: 0 auto;
  }
}

#filler {
  width: 100%;
  background-color: variables.$accents-color;
  border-bottom: 1px solid black;
}

contact-card {
  min-width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid black;
}