<div id="container">
  <div class="form-container">
    <h1>login</h1>
    <p>log in to access the contacts service.</p>
    <form #loginForm="ngForm" (ngSubmit)="login()">
      <label for="email" class="sr-only">email</label>
      <input
        type="text"
        name="email"
        id="email"
        ngModel
        placeholder="e-mail"
        autocomplete="username"
        required
        [(ngModel)]="loginData.email"
        #email="ngModel"
      />
      <label for="email" class="sr-only">password</label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        autocomplete="current-password"
        required
        [(ngModel)]="loginData.password"
        #password="ngModel"
      />
      <button type="submit" [disabled]="loginForm.invalid">log in</button>
      <p *ngIf="loginError()">invalid email or password</p>
      <!-- change css -->
    </form>
    <p id="reg-text">
      Don't have an account? -
      <a [routerLink]="['/register']" routerlinkactive="router-link-active"
        >Register</a
      >
    </p>
  </div>
</div>
