<div id="container">
  <div class="form-container">
    <h1>register</h1>
    <form #registerForm="ngForm" (ngSubmit)="register()">
      <label for="user"></label>
      <input
        type="text"
        name="user"
        id="user"
        placeholder="user"
        autocomplete="username"
        [(ngModel)]="registerData.username"
        #user="ngModel"
        required
      />
      <p *ngIf="!registerForm.value.user" class="error">
        this field is required.
      </p>

      <label for="email"></label>
      <input
        type="text"
        name="email"
        id="email"
        placeholder="e-mail"
        [(ngModel)]="registerData.email"
        #email="ngModel"
        required
      />
      <p *ngIf="!registerForm.value.email" class="error">
        this field is required.
      </p>

      <label for="password"></label>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="password"
        autocomplete="current-password"
        required
        minlength="8"
        [(ngModel)]="registerData.password"
        #password="ngModel"
        required
      />
      <p class="error" *ngIf="registerForm.value.password.length < 8">
        passwords need a minimum of 8 characters.
      </p>

      <button type="submit" [disabled]="registerForm.invalid">register</button>
      <img class="spinner" src="./../../../assets/images/spinner.svg" alt="Loading..." *ngIf="loadingSpinner()">
      <p class="hidden-error" *ngIf="registerError()">this email is already taken</p>
    </form>
    <p>
      already have an account? -
      <a [routerLink]="['/login']" routerLinkActive="router-link-active"
        >login</a
      >
    </p>
  </div>
</div>
