@use './../../../assets/styles/variables.scss';

.contact-card {
  padding: 10px 5px;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr;
  cursor: pointer;
  align-items: center;
  background-color: variables.$accents-color;
  contact-icon {
      width: 50%;
      margin: auto;
  }
  h1, h2, p {
    color: black;
  }
  &:hover {
      background-color: variables.$notif-color;
  }
}