$header-height: 10vh;
$footer-height: 5vh;
$body-height: calc(100vh - $header-height - $footer-height);

$main-color: #001F3F;
$main-font-color: #F0F0F0;

$accents-color: #7FDBFF;
$accents-font-color: #333333;

$background-border-color: #B2B2B2;
$backg-border-font-color: #666666;

$highlight-color: #39CCCC;

$notif-color: #2ECC40;

$back-color: #FFFFFF;
$back-font-color: #001F3F;

$error-color: red;
$background-color: whitesmoke;
$border-color: gray;